<!Doctype html>

<html lang="fr">

  <head>
  
    <meta charset="UTF-8" />
	
	<title>les Pizzas </title>
	
  
  
  </head>
  
  
  <body>
  
	 
	 <main>
	 
	 
	    {% extends 'applipizza/base.html' %}
		{% block title %} 
		
		les Pizzas

		{% endblock %} 
		
		
		{% block content %}
	 
	 
		<h2> Voici nos {{pizzas|length}} pizzas </h2>
		
		<ul>
		
			{% for piz in pizzas %}
			
			<li>  {{piz}}   | </li> 
			
			<a href="/pizzas/{{piz.idPizza}}/"> détails sur cette pizza   </a> <br/>
			<a href="/pizzas/{{piz.idPizza}}/update/"> modifier pizza   </a> <br/>
			<a href="/pizzas/{{piz.idPizza}}/delete/"> supprimer pizza   </a> <br/>
			
			{% endfor %}
		
		
		</ul>
		
		{% endblock %} 
		

	 
	 
	 </main>
	 
	 <footer>
	 
	 
	 Appli pizza 2023
	 
	 
	 </footer>
	 
	 
	 
  
  
  
  
  </body>
  
  
  
 </html>