<!Doctype html>

<html lang="fr">

  <head>
  
    <meta charset="UTF-8" />
	
	<title>Créer Ingredient </title>
	
  
  
  </head>
  
  
  <body>
  
	 
	 <main>
	 
	 
	    {% extends 'applipizza/base.html' %}
		{% block title %} 
		
		Creation d'un ingredient

		{% endblock %} 
		
		
		{% block content %}
	 
	 
		<h2>Creation Ingredient </h2>
	 
		
         <p>L'ingredient {{nom}} a bien été créé  </p>
		
		
		{% endblock %}
	 
	 
	 </main>
	 
	 <footer>
	 
	 
	 Appli pizza 2023
	 
	 
	 </footer>
	 
	 
	 
  
  
  
  
  </body>
  
  
  
 </html>